.Sign-up {
  background: var(--clr-desk-gradient-header-bg);
  padding: 10px 40px;
  border-radius: 50px;
  color: var(--clr-white-text);
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.2s linear;

  p {
    transition: all 0.2s linear;
  }

  &:hover {
    background: var(--clr-white-text);
    box-shadow: 0px 0px 10px var(--clr-l-red-header-text);

    p {
      background: var(--clr-desk-gradient-header-bg);
      -webkit-background-clip: text;
      color: transparent;
      background-clip: text;
    }
  }

  @media only screen and (min-width: 800px) {
    background: var(--clr-white-text);
    color: var(--clr-l-red-header-text);

    &:hover {
      background: var(--clr-vl-red-hover-button-bg);

      p {
        color: var(--clr-white-text);
      }
    }
  }
}
