:root {
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);

  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* background */
  --bg-gradient: linear-gradient(
    180deg,
    #7755ff 0%,
    #6943ff 0.01%,
    #2f2ce9 100%
  );

  --circle-gradient: linear-gradient(
    180deg,
    #4d21c9 0%,
    rgba(37, 33, 201, 0) 100%,
    rgba(37, 33, 201, 0) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
}

h4 {
  font-weight: 700;
  font-size: 18px;
}

/* MAIN */
main {
  width: 100%;
  max-width: 736px;
  display: flex;
  flex-direction: column;
}

/* --> Content */
.content {
  height: 356px;
  background: var(--bg-gradient);
  padding: 24px 50px 40px;
  border-radius: 0 0 32px 32px;
  text-align: center;
  margin-bottom: 24px;
}

.content h4 {
  color: var(--light-lavender);
}

.circle {
  width: 140px;
  height: 140px;
  background: var(--circle-gradient);
  border-radius: 50%;
  display: grid;
  place-content: center;
  margin: 24px auto;
}

.circle p {
  font-size: 56px;
  font-weight: 800;
  color: var(--white);
}

.circle span {
  font-size: 16px;
  font-weight: 700;
  color: var(--light-lavender);
}

.content h3 {
  font-size: 24px;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 8px;
}

.content .text {
  font-style: 16px;
  font-weight: 500;
  color: var(--light-lavender);
}

/* --> Summary */
.summary {
  padding: 0 30px 30px;
}

.title {
  font-weight: 700;
  font-style: 18px;
  color: var(--dark-gray-blue);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

.item {
  height: 56px;
  padding: 0 16px;
  display: flex;
  align-items: center;
}

.item img {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.item .text {
  margin-right: auto;
  font-size: 16px;
  font-weight: 500;
}

.text-red {
  color: var(--light-red);
}

.text-yellow {
  color: var(--orangey-yellow);
}

.text-green {
  color: var(--green-teal);
}

.text-blue {
  color: var(--cobalt-blue);
}

.number {
  font-weight: 700;
  font-size: 16px;
  color: var(--dark-gray-blue);
}

.number span {
  opacity: 0.5;
}

.btn {
  height: 56px;
  width: 100%;
  background-color: var(--dark-gray-blue);
  border: none;
  border-radius: 128px;
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
  margin-top: 24px;
  cursor: pointer;
}

.btn:hover {
  background: var(--bg-gradient);
  filter: drop-shadow(0px 30px 60px rgba(61, 108, 236, 0.15));
}

.attribution {
  margin-top: 50px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 736px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  main {
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 30px 60px rgba(61, 108, 236, 0.15);
    border-radius: 32px;
  }

  .content,
  .summary {
    width: 100%;
    max-width: 368px;
    height: 512px;
    margin: 0;
  }

  .content {
    border-radius: 32px;
    padding-top: 38px;
  }

  .circle {
    margin-top: 35px;
    margin-bottom: 28px;
    width: 200px;
    height: 200px;
  }

  .circle p {
    font-size: 72px;
  }

  .circle span {
    font-size: 18px;
  }

  h3 {
    margin-bottom: 14px;
  }

  .content .text {
    font-size: 18px;
    width: 260px;
  }

  .summary {
    padding: 38px 40px 46px;
  }

  .container {
    margin-top: 28px;
  }

  .btn {
    margin-top: 41px;
  }
}
