.Sign-in {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
  transition: all 0.2s linear;

  &:hover {
    color: var(--clr-l-red-header-text);
  }

  @media only screen and (min-width: 800px) {
    color: var(--clr-white-text);

    &:hover {
      color: var(--clr-white-text);
    }
  }
}
