@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
  --primary-clr: hsl(300, 43%, 22%);
  --secondary-clr: hsl(333, 80%, 67%);

  --primary-f-clr: hsl(303, 10%, 53%);
  --secondary-f-clr: hsl(300, 24%, 96%);
  --tertiary-f-clr: hsl(0, 0%, 100%);
}

/*=============================================
=               Global Styles                 =
=============================================*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Spartan', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1375px) {
  body {
    height: 100vh;
  }
}

/*=====  End of Global Styles  ======*/

/*----------  Picture  ----------*/

.bg-container {
  position: fixed;
  inset: 0;
}

.bg {
  position: absolute;
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
}

.bg-pattern-top {
  top: 0;
  left: 0;
}

.bg-pattern-bottom {
  right: 0;
  bottom: 0;
}

/*----------  End of Picture  ----------*/

.container {
  margin-bottom: 2rem;
  margin-top: 3rem;
  width: 80%;
  height: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 3rem;
}

@media only screen and (min-width: 1375px) {
  .container {
    width: 1104px;
  }

  .heading {
    flex-direction: row;
    text-align: start;
  }
}

/*----------  First Container  ----------*/
.first-container {
  margin-bottom: 3rem;
}

.title {
  font-size: 3rem;
  color: var(--primary-clr);
  font-weight: 700;
  margin-bottom: 3rem;
}

.desc {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--primary-f-clr);
  line-height: 1.6;
}

@media only screen and (min-width: 1375px) {
  .first-container {
    padding-right: 40rem;
    margin-right: -150px;
  }

  .title {
    font-size: 4rem;
  }
}
/*----------  End of First Container  ----------*/

/*----------  Reviews  ----------*/
.reviews {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.review {
  width: 100%;
  background: var(--secondary-f-clr);
  padding-block: 1rem;
}

.stars {
  margin-bottom: 1rem;
}

.review-desc {
  color: var(--primary-clr);
  font-weight: 700;
  font-size: 1.1rem;
}

@media only screen and (min-width: 450px) {
  .review {
    max-width: 360px;
    display: flex;
    align-items: center;
    padding: 2rem 3rem;
  }

  .stars {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}

@media only screen and (min-width: 913px) {
  .review:nth-child(1) {
    transform: translateX(-50px);
  }

  .review:nth-child(3) {
    transform: translateX(50px);
  }
}

/*----------  End of Reviews  ----------*/

/*----------  Comments  ----------*/
.comments-container {
  width: 100%;
}

.comments-container > *:not(:first-child) {
  margin-top: 1rem;
}

.comment {
  background: var(--primary-clr);
  padding: 3rem;
  border-radius: 12px;
}

.comment-heading {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 2rem;
}

.user-name {
  color: var(--tertiary-f-clr);
  font-weight: 500;
}

.user-title {
  color: var(--secondary-clr);
}

.user-comment {
  color: var(--secondary-f-clr);
  font-size: 1.15rem;
  line-height: 1.6;
}

@media only screen and (min-width: 450px) {
  .comments-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1rem;
  }

  .comment {
    width: 360px;
  }
}

@media only screen and (min-width: 913px) {
  .comment:nth-child(2) {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 1375px) {
  .comment:nth-child(3) {
    margin-top: 4rem;
  }
}

/*----------  End of Comments  ----------*/

.attribution {
  margin-top: 2rem;
  font-size: 11px;
  text-align: center;
  margin-bottom: 3rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
