.Menu__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  &-header {
    width: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;

    .img-box {
      background: url('../../../images/icon-arrow-dark.svg') no-repeat center;
      width: 10px;
      height: 10px;

      &.rotate {
        transform: rotate(180deg);
      }
    }

    p {
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      font-size: 1.1em;
      color: var(--clr-d-blue-heading);
      font-weight: 600;
      transition: var(--trans);

      &:hover {
        color: var(--clr-l-red-header-text);
      }

      &::before {
        content: '';
        width: 100%;
        height: 2px;
        background: var(--clr-l-red-header-text);
        position: absolute;
        bottom: 0;
        transform: scale(0);
        transition: var(--trans);
      }

      &:hover::before {
        transform: scale(1);
      }

      &.light {
        color: var(--clr-l-red-header-text);
      }
    }
  }
}

@media only screen and(min-width: 800px) {
  .Menu__item {
    &-header {
      .img-box {
        background: url('../../../images/icon-arrow-light.svg') no-repeat center;
      }

      p {
        color: var(--clr-white-text);
        position: relative;

        &:hover {
          color: var(--clr-white-text);
        }

        &::before {
          background: var(--clr-white-text);
        }

        &.light {
          color: var(--clr-white-text);
        }
      }
    }
  }
}
