.Custom-button {
  padding: 10px;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  transition: all 0.2s linear;
  border: none;
  font-weight: 500;
  font-size: 0.7em;

  @media only screen and (min-width: 347px) {
    padding: 10px 20px;
    font-size: 0.9em;
  }

  @media only screen and (min-width: 450px) {
    padding: 10px 40px;
    font-size: 1em;
  }

  &.main {
    background: var(--clr-white-text);
    color: var(--clr-l-red-header-text);

    &:hover {
      background: var(--clr-vl-red-hover-button-bg);
      color: var(--clr-white-text);
    }
  }

  &.secondary {
    border: 1px solid var(--clr-white-text);
    background: transparent;
    color: var(--clr-white-text);

    &:hover {
      background: var(--clr-white-text);
      color: var(--clr-l-red-header-text);
    }
  }
}
